/* Hangman CSS */

@import url("https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono");

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font: 1.2rem 'Ubuntu', sans-serif;
}

body {
	padding-top: 100px;
}

section {
	width: 50%;
	height: 250px;
	padding-top: 40px;
	margin: 0 auto;
	text-align: center;
	border: 1px dashed black;
	border-radius: -50%;
}

h2 {
	text-align: center;
}

#wordField {
	text-transform: uppercase;
	color: transparent;
}

#wordField div {
	border:none;
	border-bottom: 2px solid gray;
	text-align: center;
	margin: 2px;
	width: 20px;
	display: inline-block;
	padding: 1px;
}

#wordField div.blankspace {
	border:none;
	margin: 2px;
	width: 20px;
	display: inline-block;
	padding: 1px;
}

#letters {
	margin-top: 50px;
}

#letters a {
	width: 40px;
	display: inline-block;
	padding: 2px 1px;
	margin: 2px;
	background: #a3a3a3;
}

#letters a:hover {
	cursor: pointer;
	background: #d2d2d2;
}

.wrong {
	background-color: #ff9999 !important;
	color: whitesmoke;
}

.correct {
	background-color: #99ff99 !important;
	color: black;
}

.stats {
	text-align: left;
	margin: 50px 0px 10px 25px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}